.container-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form {
    flex: 1 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input-button {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

#btn-cancelar {
    margin-left: 3px;
}

#btn-selecionar-shape {
    background-color: #cccc;
    color: black;
    margin-right: 5px;
}

#btn-importar-shape {
    background-color: #000000ab;
    color: white;
}

.import-group {
    display: flex;
}

.error-input {
    color: #d20404;
}