.container-form-talhao {
    padding: 56px 14px;
    display: flex;
    flex-direction: column;
}

.form-talhao {
    flex: 1 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-button {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

#btn-cancelar {
    margin-left: 3px;
}

#btn-selecionar-shape {
    background-color: #cccc;
    color: black;
    margin-right: 5px;
}

#btn-importar-shape {
    background-color: #000000ab;
    color: white;
}

.import-group {
    display: flex;
}

.talhao-map-head {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    align-items: center;
}

.talhao-map-head p {
    margin: 0;
}

.talhao-map-head-titulo {
    font-weight: bold;
    font-size: 23px;
}

.talhao-map-head-obs {

}
