.container-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form {
    flex: 1 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input-button {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
