.container-talhao {
    display: flex;
    flex-wrap: wrap;
}

.container-talhao h3 {
    text-align: center;
}

.card-talhao {
    background-color: #ccc0;
    padding: 10px;
    margin: 9px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0px #ccc;
    width: 23%;
    position: relative;
}

.card-novo-talhao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card-novo-talhao:hover {
    background-color: #f7f7f7;
}

.legenda-imagem {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex: 1;
    width: 308px;
    height: 205px;
    transition: all .1s ease-out;
    cursor: pointer;
}

.legenda-imagem:hover {
    transform: scale(1.1);
}

.legenda-descricao {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.legenda-area-util {
    position: absolute;
    top: 11px;
    right: 10px;
    background: #0000009c;
    color: white;
    padding: 5px;
    border-radius: 0px 6px 2px 6px;
}