.container-relatorio {
    display: block;
    position: relative;
    height: 100vh;
    padding: 0px 5px;
}

.container-tabelas, .container-tabelas > div{
    height: 100%;
}

.DataGrid {
    width: 100%;
}

.panel-heading {
    position: relative;
    text-align: center;
}

.relatorio-filtro-container {
    position: fixed;
    top: 36px;
    right: -15px;
    z-index: 1;
    background: white;
    box-shadow: 0px 0px 1px 0px black;
    text-align: left;
}

.relatorio-filtro-heading {
    text-align: left;
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    background: #69696921;
    padding: 0 2px;

}

.relatorio-filtro-body {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 12px 11px;
}

.relatorio-filtro-body > div {
    flex: 1;
    margin-right: 18px;
}

#btn-gerar-relatorio {
    width: 100%;
    margin-top: 13px;
    background-color: #00e7ff80;
}

.btn-relatorio-filtro {
    float: right;
    font-size: 33px;
    transform: translateY(7px);
    cursor: pointer;
    background: #ccc0;
}

.relatorio-coluna-macro {
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    text-align: center;
}

.relatorio-macro-iniciar-color {
    text-shadow: 0px 0px 1px #08ff08;
}

.relatorio-macro-pausar-color {
    text-shadow: 0px 0px 1px black;
}

.relatorio-macro-deslocamento-color {
    text-shadow: 0px 0px 1px darkgray;
}

.relatorio-macro-finalizar-color {
    text-shadow: 0px 0px 1px #0090ff;
}

.relatorio-macro-aguardando-color {
    text-shadow: 0px 0px 1px #ffa500;
}