.painelConsolidado {
    display: flex;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    height: 100%;
    font-size: 15px;
}

.card, .card-info {
    box-shadow: 0px 0px 2px 0px black;
}

.card {
    flex: 1;
    display: flex;
}

.card-info {
    flex: 1;
    transition: all .1s ease-in-out;
}

.card-info:hover {
    transform: translateY(-3px);
}

.porcValor {
    display: flex;
    flex-direction: column;
}

.tempoTrabalho span {
    font-size: 15px;
}





