
.menu-lateral {
    width: 15.625em;
    font-weight: 600;
}

.title-nav {
    flex-grow: 1;
}

#menu-navbar {
    position: fixed;
    top: 5px;
    left: 61px;
    background: white;
    color: black;
    z-index: 1;
    box-shadow: 2px 2px 7px 0px #5f5f5f;
}

#logout {
    position: fixed;
    top: 5px;
    right: 30px;
    background: white;
    color: black;
    z-index: 1;
    box-shadow: 2px 2px 7px 0px #5f5f5f;
}

#title-menu-lateral {
    background-color: green;
    color: white;
    padding: 15px 14px;
}

.link-menu, .link-menu:hover {
    color: #324351;
    text-decoration: none;
}