
.container-ordem-servico h3 {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: 28px;
}   

.label-form {
    display: block;
} 

.select-form {
    width: 100%;
    display: block;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.label-periodo-ordemservico {
    display: block;
}

.input-button {
    display: flex;
    margin-top: 14px;
}

#btn-cancelar-ordem-servico,
#btn-salvar-ordem-servico {
    flex: 1;
}

#btn-salvar-ordem-servico {
    background-color: #16ff0026;
}

#btn-cancelar-ordem-servico {
    background-color: #ffa50038;
    margin-right: 10px;
}