
.form-group-ordem-servico {
    box-shadow: 0px 0px 3px 0px #00000066;
    margin: 7px;
    padding: 8px 10px;
    border-radius: 6px;
}

.form-group-ordem-servico-head {
    font-weight: 600;
    background: #cccccc;
    padding: 4px;
    margin-bottom: 7px;
}

.container-ordem-servico h3 {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: 28px;
} 

.select-form {
    width: 100%;
    display: block;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.label-form-ordem-servico {
    display: block;
    font-weight: 500;
} 

.label-periodo-ordemservico {
    display: block;
}

.input-button {
    display: flex;
    margin-top: 14px;
}

#btn-cancelar-ordem-servico,
#btn-salvar-ordem-servico {
    flex: 1;
}

#btn-salvar-ordem-servico {
    background-color: #16ff0026;
}

#btn-cancelar-ordem-servico {
    background-color: #ffa50038;
    margin-right: 10px;
}