#painel-operacao {
    height: 100%;
    padding: 9px;
}

.info-operacao {
    margin-bottom: 6px;
}

.operacao {
    text-align: center;
    font-size: 17px;
    background-color: #ffffff1f;
    margin-bottom: 9px;
}

.bloco-operacao {
    flex-direction: column;
}
