#painel-operacao {
    height: 100%;
    padding: 9px;
    position: relative;
}

.info-operacao {
    margin-bottom: 6px;
}

.operacao {
    text-align: center;
    font-size: 17px;
    background-color: #ffffff1f;
    margin-bottom: 9px;
}

.bloco-operacao {
    flex-direction: column;
}

.btn-toogle-carrosel {
    position: absolute;
    left: 11px;
    background-color: #2b2e34;
    transform: translateY(-7px);
}