.owl-carousel  {
    position: absolute !important;
    bottom: 0 !important;
    z-index: 999 !important;
    display: block;
  }

.template-scrol-horizontal {
    height: 242px;
    background-color: #282c34b5;
    color: white;
    border-right: 2px solid #ccc;
    cursor: grab;
}

.template-scrol-horizontal > ul {
    list-style: none;
    padding: 0;
}

.template-scrol-horizontal > h5 {
    margin: 0;
}

.BrainhubCarousel__container {
    position: absolute;
    bottom: 0;
    z-index: 999;
    display: block;
    z-index: 999;
}

.iconeshow {
    
}
